<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:genTemplate="http://schemas.microsoft.com/appx/developer/templatestudio"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  IgnorableNamespaces="uap rescap genTemplate">

	<Identity
		Name="33942ShortDevelopment.VBAudioRouter"
		Publisher="CN=8E251084-44E9-4A7C-AB50-C78A32C26285"
		Version="0.1.0.0" />

	<mp:PhoneIdentity PhoneProductId="01b3c67a-5047-40be-a169-edc3d6902f11" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>VB Audio Router</DisplayName>
		<PublisherDisplayName>ShortDevelopment</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22621.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22621.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
	  EntryPoint="$targetentrypoint$"
		desktop4:SupportsMultipleInstances="true">
			<uap:VisualElements
			  DisplayName="ms-resource:AppDisplayName"
			  Description="ms-resource:AppDescription"
			  BackgroundColor="transparent"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
			</uap:VisualElements>
			<Extensions>
				<desktop:Extension Category="windows.toastNotificationActivation">
					<desktop:ToastNotificationActivation ToastActivatorCLSID="21a434d4-6146-43a5-8212-d90568158935" />
				</desktop:Extension>

				<com:Extension Category="windows.comServer">
					<com:ComServer>
						<com:ExeServer Executable="VBAudioRouter.exe" Arguments="----AppNotificationActivated:" DisplayName="Toast activator">
							<com:Class Id="21a434d4-6146-43a5-8212-d90568158935" DisplayName="Toast activator"/>
						</com:ExeServer>
					</com:ComServer>
				</com:Extension>

				<uap:Extension Category="windows.protocol">
					<uap:Protocol Name="vb-audio-router">
						<uap:Logo>Assets\StoreLogo.png</uap:Logo>
						<uap:DisplayName>VB Audio Router</uap:DisplayName>
					</uap:Protocol>
				</uap:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>

	<genTemplate:Metadata>
		<genTemplate:Item Name="generator" Value="Template Studio"/>
		<genTemplate:Item Name="wizardVersion" Version="v5.5" />
		<genTemplate:Item Name="projectType" Value="Blank" />
		<genTemplate:Item Name="framework" Value="MVVMToolkit" />
		<genTemplate:Item Name="platform" Value="WinUI" />
		<genTemplate:Item Name="appmodel" Value="Desktop" />
	</genTemplate:Metadata>
</Package>
